
{% macro displayNewsSources(news_sources) %}

{% for item in news_sources %}
<p> <a href="/source/{{item.id}}">{{item.name}}</a> </p>
{% endfor %}

{% endmacro %}

{% macro displayNews(news_items) %}

{% for item in news_items %}
{% if item.urlToImage %}
<div class="view overlay z-depth-1-half mt-3">
    <img src="{{item.urlToImage}}" class="img-fluid img-responsive" style="width: 100%;">
    <a href="#!">
        <div class="mask rgba-white-slight"></div>
    </a>
</div>
    <h4 class="my-4 font-weight-bold">{{item.title|truncate(80)}}</h4>
    <p class="grey-text">{{item.description}}</p>
    <p>by <a><strong>{{item.author}}</strong></a> {{item.publishedAt}}</p>
    <a href="{{item.url}}" class="btn btn-primary btn-md">Read more</a>

{% endif %}
{% endfor %}

{% endmacro %}

{% macro displayOtherNews(news_items) %}

{% for item in news_items %}
{% if item.urlToImage %}
<div class="col-md-5 col-sm-12 mt-4" style="margin-left: 6em;">
<div class="view overlay z-depth-1-half">
    <img src="{{item.urlToImage}}" class="img-fluid img-responsive">
    <a href="#!">
        <div class="mask rgba-white-slight"></div>
    </a>
</div>
    <h4 class="my-4 font-weight-bold">{{item.title|truncate(80)}}</h4>
    <p class="grey-text">{{item.description}}</p>
    <p>by <a><strong>{{item.author}}</strong></a>, {{item.publishedAt}}</p>
    <a href="{{item.url}}" class="btn btn-primary btn-md">Read more</a>
</div>

{% endif %}
{% endfor %}

{% endmacro %}